@import "tailwindcss";



@custom-variant dark (&:where(.dark, .dark *));




@theme {
    --color-error:oklch(0.56 0.21 24);
    --color-ok:oklch(0.52 0.12 140);
    --color-alert:oklch(0.63 0.11 85);
    /*
        dark mode colors
    */
    --color-dark-primary-dark: oklch(0.4 0.23 300);
    --color-dark-primary: oklch(0.45 0.23 300);
    --color-dark-primary-light: oklch(0.6 0.23 300);



    --color-dark-dark: oklch(0.1 0 264);
    --color-dark: oklch(0.17 0 264);
    --color-dark-light: oklch(0.25 0 264);

    --color-dark-text-dark: oklch(0.95 0 0);
    --color-dark-text-muted: oklch(0.70 0 0);
    /*
        light mode colors
    */
    --color-light-primary-dark: oklch(0.57 0.18 300);
    --color-light-primary: oklch(0.6 0.18 300);
    --color-light-primary-light: oklch(0.7 0.18 300);

    --color-light-dark: oklch(0.8 0 264);
    --color-light: oklch(0.85 0 264);
    --color-light-light: oklch(0.95 0 264);

    --color-light-text-dark: oklch(0.2 0 0);
    --color-light-text-muted: oklch(0.34 0 0);
}

